body {
  font-family: "IBM Plex Sans";
  margin: auto;
  max-width: 3840px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  color: #ffffff;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

